@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

:root {
  --dark: #040D12;
  --light: #ffffff;
  --black: #000000;
  --navHov:#EAD196;
  --navText: black;
  --navCurr: #7D0A0A;
  --underline: #BF3131;
  --txtclr: #111;
  --meow:"github.png";
} 

.dark {
  --light:#040D12;
  --dark: #ffffff;
  --black: #ffffff;
  --navHov:#93B1A6;
  --navText: #ffffff;
  --navCurr: #5C8374;
  --underline: #5C8374;
  --txtclr: #fdfdfd;
  --meow:"meow.jpg";
}
/* Add a black background color to the top navigation */
.topnav {
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  overflow: hidden;
  width:80%;
  display:flex;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: var(--black);
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  font-family: "Libre Franklin";
  transition: 0.5s ease;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--navHov);
  color: black;
  transition: 0.5s ease;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--navCurr);
  color: var(--light);
}

.topnav button{
  background-color: #04AA6D;
  margin-left: auto;
  width:40px;
  height:40px;
}
header {
  background-color: var(--light);
  transition: 0.3s ease;
}
body {
  background-color: var(--light);
  transition: 0.3s ease;
}

.head {
  padding-top: 2rem;
  margin-left: 10%;
  position: sticky;
}
.head h1{
  font-family: Raleway;
  font-size: 250%;
  margin: 0;
  padding: 0;
}
div {
  display: block;
}
main {
  padding-top: 30px;
  padding-bottom: 20px;
  flex: 1;
}
body {
  font: 400 16px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: var(--txtclr);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.intro {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.home {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15%;
  transition: 0.3s ease;
}
.home:hover {
  transition: 0.3s ease;
}


.bruh {
  text-wrap: wrap;
}
.hehe {
  padding: 0px;
}

.inner {
  width: 100%;
  display:flex;
  flex-direction: column-reverse;
}
.info {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info a {
  font-size: 120%;
}

.info img {
  width: 10vh;
  height: auto;
}

h1 {
  color: var(--black);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bruh img {
  border-radius: 30%;
  width:40vh;
  height:auto;
}
p {
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
h2{
  font-family:'Raleway'; 
}
.hehe h2 {
  color: var(--black);
  margin: 0;
  font-size: 5vh;
  background-image: linear-gradient(var(--underline), var(--underline));
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}
.home:hover .hehe h2 {
  background-size: 100% 0.1em;
}

.hehe p {
  font-size:150%;
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  align-content: center; 
  white-space: normal;
  min-width: 100%;
}


.contact h2 {
  font-size: 5vh;
  background-image: linear-gradient(var(--underline), var(--underline));
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
  margin-bottom: 10px;
}
.contact:hover h2{
  background-size: 40% 0.1em;
}
.inner ul {
  padding-left: 0;
  margin:0;
}
.refer {
  display: flex;
  align-items: flex-start;
}

.lin {
  padding-left: 10px;
  font-size: 130%;
}

.games {
  opacity: 10%;
}


.yokota {
  margin-left: 10%;
  margin-right: 10%;
}
.yokota h2{
  margin: 0;
  font-size: 5vh;
}
.yokota h3{
  margin: 0;
  padding-left: 10px;
  font-size: 150%;
}